aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.3.0
av==14.4.0
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
ctranslate2==4.6.0
cycler==0.12.1
datasets==3.6.0
dill==0.3.8
einops==0.8.1
exceptiongroup==1.3.0
faster-whisper==1.1.1
ffmpeg-python==0.2.0
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.5
frozenlist==1.7.0
fsspec==2025.3.0
future==1.0.0
huggingface-hub==0.33.0
humanfriendly==10.0
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
jieba==0.42.1
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.7
llvmlite==0.43.0
loguru==0.7.3
MarkupSafe==3.0.2
matplotlib==3.9.4
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.5.0
multiprocess==0.70.16
networkx==3.2.1
numba==0.60.0
numpy==1.24.3
onnxruntime==1.19.2
openai-whisper==20240930
packaging==25.0
pandas==2.3.0
-e git+ssh://git@github.com/wzw614/RobotPerceiver.git@1199384aef05a22c6a61732f5e6f4fa4dfd9eab5#egg=perceiver_pytorch&subdirectory=perceiver-pytorch
pillow==11.2.1
pluggy==1.6.0
propcache==0.3.2
protobuf==6.31.1
pyahocorasick==2.2.0
pyarrow==20.0.0
pycorrector==1.1.2
Pygments==2.19.2
pyHSICLasso==1.4.2
pyparsing==3.2.3
pypinyin==0.54.0
pyreadline3==3.5.4
pytest==8.4.1
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
sympy==1.14.0
text2vec==1.3.7
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.1
tomli==2.2.1
tqdm==4.67.1
transformers==4.52.4
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
win32_setctime==1.2.0
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
